.thumbnail{
  width: 300px;
  display: block;
}
.search-bar{
  display: block;
}

.video-author, .video-stats{
  
}
.video-preview{
  margin-right: 15px;
  width: 300px;
  display: inline-block;
  vertical-align: top;
}
.test{
  width: 100px;
  height: 100px;
  background-color: red;
  color: transparent;
  border-radius: 50px;
}