.channel-img-hover {
  display: inline-block;
  position: relative;
}

.channel-card-info {
  display: flex;
  align-items: center;
  height: 70px;
  border-radius: 8px;
  border: none;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.178);
  position: absolute;
  bottom: -74px;
  left: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.15s;
}

.channel-img-hover:hover .channel-card-info {
  opacity: 1;
}

.card-profile-img {
  max-width: 56px;
  border-radius: 30px;
  margin-left: 12px;
  margin-right: 8px;
}

.card-profile-info {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  padding-right: 15px;
}

.card-profile-name {
  font-size: 17px;
  color: black;
  font-weight: 700;
  margin-bottom: 5px;
}

.card-profile-subscribes {
  font-size: 14px;
}

@media (max-width: 600px){
  .channel-card-info p {
    font-size: 13px;
  }
}

@media (min-width: 601px) and (max-width: 999px){
  .channel-card-info p {
    font-size: 15px;
  }
}