.sidebar {
  background-color: white;
  position: fixed;
  top: 55px;
  left: 0;
  bottom: 0;
  width: 72px;
}

.sidebar-link {
  background-color: white;
  height: 76px;
}

.sidebar-link:hover {
  background-color: rgb(237, 237, 237);
}

.sidebar-link img {
  height: 24px;
}