.thumbnail {
  width: 100%;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-link {
  text-decoration: none;
  color: black;
}

.profile-link {
  text-decoration: none;
  color: rgb(96, 96, 96);
}

.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 30px;
}

.profile-img {
  width: 36px;
  border-radius: 50px;
}

.thumbnail-row {
  margin-bottom: 9px;
  position: relative;
}

.video-author, .video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}
.video-author {
  margin-bottom: 4px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-time {
  font-family: Roboto, Arial;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.814);
  color: white;
  position: absolute;
  right: 8px;
  bottom: 8px;
  font-size: 12px;
  padding: 4px 4px;
  border-radius: 2px;
}

.channel-img-hover {
  display: inline-block;
  position: relative;
}

.channel-card-info {
  display: flex;
  align-items: center;
  width: 250px;
  height: 80px;
  border-radius: 8px;
  border: none;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 0px 12px rgba(0, 0, 0, 0.255);
  position: absolute;
  bottom: -84px;
  left: 0;
}

.card-profile-img {
  width: 60px;
  border-radius: 30px;
  margin-left: 12px;
  margin-right: 8px;
}

.card-profile-info {
  display: flex;
  flex-direction: column;
}

.card-profile-name {
  font-family: Roboto, Arial;
  font-size: 17px;
  color: black;
  font-weight: 700;
}